- state = @deployment.state rescue Deployment::ERROR
%td{:style=>"width:16px;"}
  .led{:id => 'systemled', :class => Deployment::STATES[state], :title=>Deployment.state_name(state)}
%td
  %h2
    - if @deployment.parent
      = link_to @deployment.parent.name, deployment_path(@deployment.parent.id), :title => @deployment.parent.description

      = "/"
    = link_to @deployment.name, deployment_path(@deployment.id), :title => @deployment.description
