CheckHostIP no
ConnectTimeout 5
ConnectionAttempts 5
ControlMaster auto
ControlPath ~/.ssh/.control-%h-%p-%r
PasswordAuthentication no
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
VerifyHostKeyDNS no
SendEnv http_proxy https_proxy no_proxy
GSSAPIAuthentication no
