# Copyright 2014, Dell
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

.#*
*~
*.dia.autosave
install-*.log

# BDD files
/BDD/erl_crash.dump
/BDD/*.beam
/BDD/default.config
/BDD/dev.config
/BDD/.*.erl.swp
erl_crash.dump

# Coverage 
/core/rails/coverage/

# Docs Index
/doc/README.md.new

# Rails chaff (especially from dev mode)
/rails/tmp/
/rails/log/
/rails/delayed_job.log
/rails/coverage
/rails/db/schema.rb
/rails/db/structure.sql
/rails/db/migrate/*_create_delayed_jobs.rb
/rails/Gemfile.lock
/rails/.bundle/
/rails/bin/
/rails/vendor/
/rails/public/assets/

.idea
Berksfile.lock
