<!DOCTYPE html>
<html>
<head>
  <title>BarclampBios</title>
  <%= stylesheet_link_tag    "barclamp_bios/application", media: "all" %>
  <%= javascript_include_tag "barclamp_bios/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
