-if @barclamp
  - name = @barclamp.name
  - data = @barclamp.cfg_data
- else
  - data = { barclamp: { name: "", source_path: ""}, roles: [ { name: "", jig: ""} ], attribs: [] }
  - name = t 'add'

%table
  %tr
    %td
      - if @barclamp
        %h1= link_to name, barclamp_path(@barclamp.id)
      - else
        %h1= name
    %td{:align=>'right'}
      = link_to t('update'), "javascript:post_barclamp()", :class=>:button
  %tr
    %td{:colspan=>2}
      %textarea{:id => "value", :rows=>50, :cols=>120}
        = JSON.pretty_generate data


:javascript

  function post_barclamp() {
    try {
      var raw = jQuery.parseJSON($("textarea#value").val());
    }
    catch (e) {
      alert("Bad JSON: " + e);
      return;
    }
    if (!raw.barclamp.name || raw.barclamp.name.length === 0 ) {
      alert("Name is required");
      return;
    }
    console.debug(raw.barclamp.name);
    var payload = { 'value':raw }
    $.ajax({
      type: "post",
      data: JSON.stringify(payload),
      contentType: "application/json",
      url: "/api/v2/barclamps"
      })
      .done(function() {
        console.debug("reloading to /barclamps/" + raw.barclamp.name);
        location.href = "/barclamps/" + raw.barclamp.name;
      })
      .fail(function(jqXHR, textStatus, errorThrown) {
        alert( "POST ERROR: " + errorThrown )
      });
  }
