- if @deployment
  %p{:style => 'float:right'}
    = link_to t('.anneal'), deployment_transition_path(@deployment.id, :step=>Rails.env.development?), :class => 'button' if @deployment.committed?
%h1
  = link_to @deployment.name, deployment_path(@deployment.id) if @deployment
  = t '.title'

= render :partial=>'node_roles/index', :locals => { :list => @list }

.clear

:javascript

  function update() {
    $.ajaxSetup({ timeout: 1000 });
    location.reload();
  }
