- value_raw = Attrib.get(attrib.name, obj)
- value = value_raw.map{ |k, v| k } rescue [ t('not_set') ]
%tr
  %td= link_to attrib.name_i18n, attrib_path(attrib.id), :title=>attrib.description
  %td= value.sort.join ", "
  - if current_user and current_user.settings(:ui).debug
    %td= attrib.ui_renderer rescue Attrib::UI_RENDERER
