{
  "name": "new_network",
  "category": "default",
  "group": "internal",
  "deployment": "system",
  "conduit": "1g0",
  "v6prefix": "auto",
  "ranges": [
    {
      "name": "host",
      "first": "10.10.10.10/24",
      "last": "10.10.10.200/24"
    }
  ],
  "router": {
    "address": "10.10.10.1/24",
    "pref": "20"
  }
}
