<!DOCTYPE html>
<html>
<head>
  <title>BarclampIpmi</title>
  <%= stylesheet_link_tag    "barclamp_ipmi/application", :media => "all" %>
  <%= javascript_include_tag "barclamp_ipmi/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
