%%-*-erlang-*- 
{nodes, [ {node1, "node1.cr0wbar.com", "Populated Information!", 250, "Rack1"},
          {node2, "node2.cr0wbar.com", "Some Populated Information!", 260, "Rack1"},
          {node3, "node3.cr0wbar.com", "More Populated Information!", 270, "Rack1"},
          {node4, "node4.cr0wbar.com", "Extra Populated Information!", 280, "Rack1"},
          {node5, "node5.cr0wbar.com", "Populated Information!", 290, "Rack2"},
          {node6, "node6.cr0wbar.com", "Populated Information!", 300, "Rack2"},
          {node7, "node7.cr0wbar.com", "Populated Information!", 210, "Rack2"}
        ]}.
{attrib_types, [ {attrib_type0, "uptime", "System Up Time", 100, "integer"},
            {attrib_type0, "cpu_type", "CPU Type", 300, "string"}, 
            {attrib_type0, "service_tag", "Service Tag", 310, "string"}, 
            {attrib_type0, "alias", "DNS Alias", 320, "string"},
            {attrib_type0, "ip_managment", "Management IP", 330, "ipaddress"},
            {attrib_type0, "ip_public", "Public IP", 340, "ipaddress"},
            {attrib_type0, "mac", "MAC address", 350, "macaddress"},
            {attrib_type0, "ipmi_enabled", "IPMI Available", 360, "boolean"},
            {attrib_type0, "cpu_count", "CPU Count", 305, "integer"}
              ]}.
{groups,  [ {group1, "Rack1", "North Pole", 1000},
            {group2, "Rack2", "South Pole", 2000}
          ]}.          
{deployments,  [ {deploy1, "Dev", [{description, "Tron MCP"}, {order, 1000}]},
                 {deploy2, "Prod", [{description, "The Matrix"}, {order, 2000}]}
          ]}.
          
            %nodes

    