%%-*-erlang-*- 
{url, "http://127.0.0.1:3000"}.
{user, "crowbar"}.
{domain, "crowbar.com"}.
{password,"crowbar"}.
{environment,"devtool"}.
{titles, [fail, skip, header, result, step, step_fail]}.
{global_setup, crowbar}.
{secondary_step_files, [crowbar_rest, crowbar, bdd_webrat, bdd_restrat, bdd_clirat, bdd_catchall]}.
{translation_error, "translation_missing"}.
{sign_in_url, "/my/users/sign_in"}.
{coverage_out,"../crowbar_framework/coverage/bdd.html"}.
{cli,"cd ../bin && bundle exec ./crowbar"}.
