%%-*-erlang-*- 
{url, "http://127.0.0.1:3000"}.
{user, "developer"}.
{password,"Cr0wbar!"}.    % do not store production passwords here!
{environment, local}.
{global_setup, rebar}.
{secondary_step_files, [rebar_rest, rebar, bdd_webrat, bdd_restrat, bdd_clirat, bdd_catchall]}.
{translation_error, "translation_missing"}.
{sign_in_url, "/my/users/sign_in"}.
{log,[info,warn,error]}.
{coverage_out,"../rebar_framework/tmp/bdd.html"}.
{marker_url,"utils/marker"}.
{cli,"cd ../bin && bundle exec ./rebar"}.
