%%-*-erlang-*- 
{url, "http://127.0.0.1:3000"}.
{user, "developer"}.
{password,"Cr0wbar!"}.    % do not store production passwords here!
{environment, travis}.
{global_setup, crowbar}.
{secondary_step_files, [crowbar_rest, crowbar, bdd_webrat, bdd_restrat, bdd_clirat, bdd_catchall]}.
{translation_error, "translation_missing"}.
{sign_in_url, "/my/users/sign_in"}.
{log,[info,warn,error]}.
{coverage_out,"bdd_results.html"}.
{results_out,"bdd_results.txt"}.
{marker_url,"utils/marker"}.
{cli,"cd ../bin && ./crowbar"}.
