%%-*-erlang-*- 
{url, "https://127.0.0.1:3000"}.
{user, "developer"}.
{password,"d1g1t@l"}.    % do not store production passwords here!
{environment, travis}.
{global_setup, rebar}.
{secondary_step_files, [rebar_rest, rebar, bdd_webrat, bdd_restrat, bdd_clirat, bdd_catchall]}.
{translation_error, "translation_missing"}.
{sign_in_url, "/my/users/sign_in"}.
{log,[info,warn,error]}.
{coverage_out,"bdd_results.html"}.
{results_out,"bdd_results.txt"}.
{marker_url,"utils/marker"}.
{cli,"cd ../bin && ./rebar"}.
{secure, false}.
{consul, true}.
