#!ipxe

kernel {{.Env.PathFor "http" .Env.Kernel}} {{.BootParams}}
imgfetch {{.Env.PathFor "http" "boot/bcd"}}                     BCD
imgfetch {{.Env.PathFor "http" "boot/boot.sdi"}}                boot.sdi
imgfetch {{.Env.PathFor "http" "rebar-winpe.wim"}}              boot.wim
imgstat
prompt
boot