#
# Sample scripted installation file
#

# Accept the VMware End User License Agreement
vmaccepteula

# Set the root password for the DCUI and Tech Support Mode
rootpw --iscrypted {{ .Param "provisioner-default-password-hash" }}

# Install on the first local disk available on machine
install --firstdisk --overwritevmfs

# Set the network to DHCP on the first network adapter
network --bootproto=dhcp --device=vmnic0

reboot

%pre --interpreter=python
# urllib2 is a pile of suck.  Ask me how I know this.
import sys,re,os,urllib,urllib2,base64,syslog,socket, string, ssl, time
url = '{{.CommandURL}}/api/v2/nodes/{{.Machine.UUID}}'

class FakeMgr(urllib2.HTTPPasswordMgr):
    def find_user_password(foo, bar, baz):
        key = '{{.Param "rebar-machine_key"}}'
        up = string.split(key,':',2)
        return up[0], up[1]

opener = urllib2.build_opener(
    urllib2.HTTPDigestAuthHandler(FakeMgr()),
    urllib2.HTTPSHandler(context=ssl.SSLContext(ssl.PROTOCOL_SSLv23)))

req = urllib2.Request(url, data='{"bootenv": "local"}')
req.add_header('Content-Type', 'application/json')
req.get_method = lambda: 'PUT'

r = opener.open(req)
