- t = JSON.parse(template)
%dl
  %dt= t ".external_servers"
  %dd= text_field_tag :data_external_servers, t["rebar"]["ntp"]["external_servers"], :size => 40
= hidden_field_tag :dataprefix, "data_"

